<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Home</title>
	<link rel="stylesheet" th:href="@{style.css}">
</head>

<body>

	<h1>Concessionaria Talentform</h1>
		
	<div class="carosello">
        <div class="in-carosello">
            <div class="carosello-img"><img id="paperino" th:src="@{ 313.png }" alt="313 Paperino"></div>
            <div class="carosello-img"><img id="homer" th:src="@{ homer.png }" alt="auto Simpson"></div>
            <div class="carosello-img"><img id="flintstones" th:src="@{ flintstones.png }" alt="auto Flintstones"></div>
        </div>
        <div class="prev">&#10094;</div>
        <div class="next">&#10095;</div>
   	</div>
    
	<div class="footer">
		<a class="button" href="selezionaAuto">Inserisci richiesta</a>
		<a class="button" href="stampaAuto">Stampa richieste</a>
	</div>
	
	
	<script>
        // Gestisce il carosello
        const carousel = document.querySelector('.carosello');
        const carouselInner = carousel.querySelector('.in-carosello');
        const carouselItems = carousel.querySelectorAll('.carosello-img');
        const prev = carousel.querySelector('.prev');
        const next = carousel.querySelector('.next');

        let currentIndex = 0;
        const totalItems = carouselItems.length;
        const itemWidth = carouselItems[0].offsetWidth;

        function moveToIndex(index) {
        	if (index < 0) {
                currentIndex = totalItems - 1;
            } else if (index >= totalItems) {
                currentIndex = 0;
            } else {
                currentIndex = index;
            }
            carouselInner.style.transform = `translateX(-${currentIndex * itemWidth}px)`;
        }

        prev.addEventListener('click', () => moveToIndex(currentIndex - 1));
        next.addEventListener('click', () => moveToIndex(currentIndex + 1));
        
        setInterval(() => {
            moveToIndex(currentIndex + 1);
        }, 2000);
    </script>
	
</body>
</html>