<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Selezione autovettura</title>
	<link rel="stylesheet" th:href="@{style.css}">
</head>

<body>

	<div class="flexVert">
	
		<h3>Inserisci prenotazione autovettura</h3>
	
		<form id="seleziona" action="selezionaAuto" method ="post">
		
			<span>
				<label for="nome">Scegli tipo di auto: </label>
				
				<select name="nome">
					<option value="" selected disabled>Seleziona</option>
					<option th:each="modello : ${ modelli }" th:text="${ modello }"></option>
				</select>
			</span>
			
			<span>
				<label for="colore">Scegli il colore: </label>
			
				<select name="colore">
				 	 <option value="" selected disabled>Seleziona</option>
					 <option value="bianco">Bianco</option>
					 <option value="rosso">Rosso</option>
					 <option value="marrone">Marrone</option>
					 <option value="rosa">Rosa</option>
				</select>
			</span>
			
			<input class="button" type="submit" value="Invia">
		</form>

		<div>
			<p th:text="${ selezione }"></p>
		</div>
		
	</div>
	
	<div class="footer">
		<a class="button" href="\">Torna alla home</a>
	</div>
		

	
</body>
</html>