<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <display-name>WebSupermercato</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>SessioneServlet</filter-name>
    <filter-class>app.sessione.SessioneServlet</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SessioneServlet</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
    <servlet>
    <description></description>
    <display-name>SessioneServlet</display-name>
    <servlet-name>SessioneServlet</servlet-name>
    <servlet-class>app.sessione.SessioneServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessioneServlet</servlet-name>
    <url-pattern>/SessioneServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>app.sessione.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InserisciServlet</display-name>
    <servlet-name>InserisciServlet</servlet-name>
    <servlet-class>app.gestore.InserisciServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InserisciServlet</servlet-name>
    <url-pattern>/InserisciServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GestoreServlet</display-name>
    <servlet-name>GestoreServlet</servlet-name>
    <servlet-class>app.gestore.GestoreServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GestoreServlet</servlet-name>
    <url-pattern>/GestoreServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModificaServlet</display-name>
    <servlet-name>ModificaServlet</servlet-name>
    <servlet-class>app.gestore.ModificaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModificaServlet</servlet-name>
    <url-pattern>/ModificaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UtenteServlet</display-name>
    <servlet-name>UtenteServlet</servlet-name>
    <servlet-class>app.utente.UtenteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UtenteServlet</servlet-name>
    <url-pattern>/UtenteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrdinaServlet</display-name>
    <servlet-name>OrdinaServlet</servlet-name>
    <servlet-class>app.utente.OrdinaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrdinaServlet</servlet-name>
    <url-pattern>/OrdinaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConfermaOrdineServlet</display-name>
    <servlet-name>ConfermaOrdineServlet</servlet-name>
    <servlet-class>app.utente.ConfermaOrdineServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfermaOrdineServlet</servlet-name>
    <url-pattern>/ConfermaOrdineServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StoricoOrdiniServlet</display-name>
    <servlet-name>StoricoOrdiniServlet</servlet-name>
    <servlet-class>app.utente.StoricoOrdiniServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StoricoOrdiniServlet</servlet-name>
    <url-pattern>/StoricoOrdiniServlet</url-pattern>
  </servlet-mapping>
</web-app>