@charset "UTF-8";
/*----- generics ----------------------------------------*/
:root {
  --dark: #512827;
  --light: #e9e4e3;
  --medium: #c5acab;
}
html {
    font-size: 5px;
}
* {
	box-sizing: border-box;
	font-family: Georgia, sans-serif;
	color: var(--dark);
}
body {
    margin: 0;
    text-align: center;
    font-size: 1.3vw;
}
.flexOr {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
    margin: 0;
}
.flexVer {
    display: flex;
	flex-direction: column;
    align-items: center;
}
.title {
    color: var(--dark);
    font-stretch: ultra-expanded; 
    font-size: 1.8em;
    margin-top: -3vh;
    padding-top: 0;
}
#footer {
	position: fixed;
	bottom: 0;
	z-index: 1;
	width: 100%;
	padding: 0.5% 0;
	margin: 0;
}
#back {
	text-decoration: none;
	margin: auto;
	font-size: 1.4vw;
}
#back:hover{
	color: var(--medium);
}
.hidden {
	display: none;
}
/*-- end generics ----------------------------------------*/

/*-- index -----------------------------------------------*/
#areaAccesso>button {
	background-color: transparent;
	border: none;
	width: 12vw;
	margin: 2%;
	font-size: 1.6vw;
	font-weight: 500;
	color: var(--dark);
}
#areaAccesso>button:hover {
	color: var(--medium);
}
/*-- end index -------------------------------------------*/

/*-- title bar -------------------------------------------*/
header {
	width: 100%;
	margin: 0 auto;
	padding: 0;
	background-color: var(--medium);
}
header>a {
	width: 10vw;
	text-decoration: none;
}
header>a:hover {
	color: var(--light);
}
/*-- end title bar ---------------------------------------*/

/*-- forms------------------------------------------------*/
form {
	width: fit-content;
    font-size: 1.1vw;
}
label {
    border-radius: 5px 5px;
	width: fit-content;
    height: auto;
	padding: 1%;
    text-align: justify;
}
input {
    border-radius: 5px 5px;
	width: 8vw;
    height: auto;
	padding: 1%;
    text-align: center;
    font-size: 1.2vw;
}
input.number {
	width: 3vw;
	height: 3vh;
	margin: auto;
}
checkbox {
	width: 3vw;
	height: 3vh;
}
.button {
    width: 8vw;
    min-width: fit-content;
    height: fit-content;
    padding: 1% 2%;
    margin: auto 1%;
    border: 1px solid var(--dark);;
    border-radius: 5px;
    background-color: transparent;
    text-align: center;
    font-size: 1.2vw;
}
.button:hover {
	background-color: var(--medium);
	color: white;
}
/*-- end forms -------------------------------------------*/

/*-- elenchi ---------------------------------------------*/
div.table {
	display: flex;
	flex-direction:column;
	justify-items: center;
	justify-content: space-between;
	align-items: center;
	margin: 5% auto;
	font-size: 1.3vw;
	font-weight: 400;
}
table{
	margin: 3% auto;
	border-collapse: collapse;
	font-size: 1.3vw;
	text-align: center;
}
caption {
	margin: 2% auto;
}
th {
	background-color: var(--medium);
	color: white;
	font-weight: 500;
}
td, th {
	text-align: center;
	min-width: 7vw;
	width: fit-content;
	padding: 0.5em 1.5em;
	border: 1px solid var(--dark);
}
/*-- end elenchi ------------------------------------------*/
